<h2>Dashboard (Public) Page</h2>
<a href='/dashboard/showpublic'>Show public</a> || <a href='/dashboard/showprivate'>Show private</a> || <a href='/dashboard'>Show all</a>
<br><br><br><br>
{{#if publictasks}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Privacy</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      {{#each publictasks}}
        <tr>
          <td><a href="/forum/{{_id}}">{{title}}</a></td>
          <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss'}}</td>
          <td>{{privacy}}</td>
          <td>{{user.displayName}}</td>
        </tr>
      {{/each}}
    </tbody>
{{/if}}
<br><br><br><br>
<a href='/dashboard/add'>Create a new story</a>
<br><br><br><br>
<a href='/home'>Back</a>
