<div class="layui-container">
  <blockquote>
    <h2>Forum</h2>
  </blockquote>
  <div class="row">
    {{#if tasks}}
      {{#each tasks}}
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              {{!-- TODO --}}
            </div>
            <div class="card-content center-align">
              <h5>{{title}}</h5>
              <p>{{stripTags (truncate description 150)}}</p>
              <br>
              <div class="chip">
                <img src="{{user.image}}" alt="">
                <a href="/forum/user/{{user._id}}">{{user.displayName}}</a>
              </div>
              <div class="card-action center-align">
                <a href="/forum/view/{{_id}}" class="btn grey btn-float">Read More</a>
                <form action="/forum/{{user._id}}/{{_id}}" method="POST">
                  <button type="submit" class="btn red">
                    <i class="fas fa-heart left"></i>{{tscore}}
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
