<!-- @author Fred Hu -->

<!-LayUI->
<div class="layui-container">

  <blockquote>
    <h2>View Content</h2>
  </blockquote>

  <form action="/dashboard" method="POST" class="col s12">

    <div class="row">
      <div class="input-field">
        <input type="text" id="title" name="title" style="#000000;" readonly value="{{task.title}}">
        <label for="title">Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="text" id="privacy" name="privacy" style="#000000;" readonly value="{{task.privacy}}">
        <label for="privacy">Privacy</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <textarea id="description" name="description" class="materialize-textarea" style="color:#000000;" readonly>{{task.description}}</textarea>
        <label for="description">Content</label>
      </script>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <input type="text" id="title" name="title" style="#000000;" readonly value="{{task.user.displayName}}">
      <label for="title">Creator</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <input type="text" id="title" name="title" style="#000000;" readonly value="{{formatDate task.createdAt 'MMM Do YYYY, h:mm:ss'}}">
      <label for="title">Publish Date</label>
    </div>
  </div>

  <div class="row">
    <a href="/forum" class="btn waves-effect waves-light grey btn-float" style="width:70pt;">BACK</a>
    <form action="/forum/{{user._id}}/{{_id}}" method="POST">
      <button type="submit" class="btn red btn-float">
        <i class="fas fa-heart left"></i>{{task.tscore}}
      </button>
    </form>
  </div>

</form>

<!-Need one more parameter called is_created_by_me (bool)->


</div>
